langgraph
langchain
langchain-core
langchain-community
pytube
python-dotenv
google-generativeai
langchain-google-genai
faiss-cpu
langchain-openai
langchain-text-splitters
flask
flask-cors
youtube-transcript-api
gunicorn
langchain-classic